
<div class="window">
<h3 class="occHead">CREATE ACCOUNT</h3>
<form class="create-update-form" id="creater" action="/users/create" method="POST">
  <div class="col-3">
    <label>
      Username
      <input placeholder="Ex. Haystacks" tabindex="1" id="un" name="username" required>
    </label>
  </div>
  <div class="col-3">
    <label>
      Email
      <input type="email" id="em" tabindex="2" name="email" required>
    </label>
  </div>
  <div class="col-3">
    <label>
      Password
      <input type="password" tabindex="3" id="pass" name="password" required>
    </label>
  </div>
   <div class="col-3">
    <label>
      URL
      <input type="url" tabindex="4" id="url" name="URLinput" required>
    </label>
  </div>
  <div class="col-3">
    <label>
      Authorization Code
      <input type="authorization" tabindex="5" id="auth" name="authCode" required>
    </label>
  </div>
  <button class="button_base b05_3d_roll" type="submit">
      <!-- <div id="myBtn1" class="button_base b05_3d_roll" type="submit"> -->
      <div>Sign Up</div>
      <div>Sign Up</div>
    </div>
    </button>
</form>
</div>
